@import 'root/root.scss', 
        'normalize/normalize.scss', 
        'utility/utility.scss',
        'header/header.scss',
        'footer/footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.features__title {
    text-align: center;
    color: var(--very-dark-blue);
}

.functions {
    margin-top: 100px;
}

.infrastructure {
    background: var(--very-dark-blue);
    background-image: url('../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: bottom 20% left -250px;
    color: var(--white);
    border-radius: 0 50px;
    padding: 0 50px;

    .infrastructure__grid-container {
        display: grid;
        grid-template: 400px / 50% 50%;
        align-items: center;
    }

    .infrastructure__image {
        position: relative;
        top: 20px;
        max-height: calc(100% + 150px);
        max-width: 100%;
    }

    .infrastructure__title {
        margin-bottom: 50px;
    }

    .infrastructure__text {
        line-height: 1.5rem;
        font-weight: 400;
        color: var(--grayish-blue);
    }

    .infrastructure__copy-content {
        padding: 0 30px;
    }
}

@media screen and (min-width: 701px) {
    .nav-link:not(.nav-item .btn__sign-up):hover {
        border-bottom: 2px solid var(--white);
    }


    .dropdown-menu {
        top: 25px;
        position: absolute;
        visibility: hidden;
        transition: all .5s;
        opacity: 0;
        background: var(--white);
        color: var(--very-dark-black-blue);
        box-shadow: 0px 10px 20px #5f5f5f9d;
    }

    .dropdown {
        &:hover .dropdown-menu {
            visibility: visible;
            opacity: 1;
        }
    }

    .nav-link {
        &:not(.btn__sign-up) {
            opacity: .7;

            &:not(.btn__sign-up):hover {
                opacity: 1;
            }
        }
        &.btn__sign-up:hover {
            opacity: .5;
        }
    }

    .btn__sign-up {
        transition: .5s;
    }
}

@media screen and (max-width: 700px) {
    .navbar-nav {
        position: absolute;
        min-width: 70%;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        background: var(--white);
        border-radius: 10px;
        color: var(--very-dark-black-blue);
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        transition: top 1s, opacity 1s;
        opacity: 0;

        &--active {
            top: 50px;
            opacity: 1;
        }

        .nav-item.ml-auto {
            margin: 0!important;
        }
    }

    .nav-item {
        margin: 10px 0;
    }

    .btn__sign-up {
        background-image: linear-gradient(to right, var(--bgg-very-light-red), var(--bgg-light-red));
        color: var(--white);
    }

    .navbar-nav__cta {
        flex-direction: column;
        align-items: center;

        .nav-item {
            margin: 10px 0;
        }
    }

    .nav-item__hr {
        display: block;
    }

    .dropdown-toggle {
        &::after {
            content: url(../images/icon-arrow-dark.svg);
        }
    }

    .dropdown {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu {
        color: var(--very-dark-grayish-blue);
        position: relative;
        max-height: 0;
        background: #f1f1f1;
        transition: max-height 1.5s ease-in-out;
    }

    .dropdown:hover .dropdown-menu {
        max-height: 200vh;
    }

    .hamburger-menu {
        display: block;
    }

    .card__title, .card__content {
        text-align: center;
    }

    .media-and-text {
        margin: 0 30px 100px 30px;
        &__grid-container {
            grid-template-rows: auto auto;
            grid-template-columns: 100%;
            padding: 0;
        }

        .cards__container {
            grid-row: 2;
        }

        &__image-container {
            grid-row: 1;
            margin: 30px 0;
        }

        &__image {
            display: block;
            margin: auto;
            max-width: 100%;
        }
    }

    .infrastructure {
        text-align: center;
        padding: 0 20px 30px 0;
        margin-top: 150px;
        background-position: top -200px center;
        background-size: 150%;

        .infrastructure__grid-container {
            grid-template: auto auto / 100%;
        }

        .infrastructure__image {
            margin: -150px auto 30px auto;
            display: block;
        }
    }

    .footer {
        text-align: center;
    }

    .row {
        display: grid;
        grid-template: repeat(4, auto) / 100%;
    }

    .col {
        padding: 30px 0;
    }
}