@import 'root/root.scss', 
        'normalize/normalize.scss', 
        'utility/utility.scss',
        'header/header.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    /*
        font-family: 'Overpass', sans-serif;

        font-family: 'Ubuntu', sans-serif;
    */
}

ul {
    list-style: none;
}

@media screen and (min-width: 701px) {
    .nav-link:not(.nav-item .btn__sign-up):hover {
        border-bottom: 2px solid var(--white);
    }


    .dropdown-menu {
        top: 25px;
        position: absolute;
        visibility: hidden;
        transition: all .5s;
        opacity: 0;
        background: var(--white);
        color: var(--very-dark-black-blue);
        box-shadow: 0px 10px 20px #5f5f5f9d;
    }

    .dropdown {
        &:hover .dropdown-menu {
            visibility: visible;
            opacity: 1;
        }
    }

    .nav-link {
        &:not(.btn__sign-up) {
            opacity: .7;

            &:not(.btn__sign-up):hover {
                opacity: 1;
            }
        }
        &.btn__sign-up:hover {
            opacity: .5;
        }
    }

    .btn__sign-up {
        transition: .5s;
    }
}

@media screen and (max-width: 700px) {
    .navbar-nav {
        position: absolute;
        min-width: 70%;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        background: var(--white);
        border-radius: 10px;
        color: var(--very-dark-black-blue);
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        transition: top 1s, opacity 1s;
        opacity: 0;

        &--active {
            top: 50px;
            opacity: 1;
        }

        .nav-item.ml-auto {
            margin: 0!important;
        }
    }

    .nav-item {
        margin: 10px 0;
    }

    .btn__sign-up {
        background-image: linear-gradient(to right, var(--bgg-very-light-red), var(--bgg-light-red));
        color: var(--white);
    }

    .navbar-nav__cta {
        flex-direction: column;
        align-items: center;

        .nav-item {
            margin: 10px 0;
        }
    }

    .nav-item__hr {
        display: block;
    }

    .dropdown-toggle {
        &::after {
            content: url(../images/icon-arrow-dark.svg);
        }
    }

    .dropdown {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu {
        color: var(--very-dark-grayish-blue);
        position: relative;
        max-height: 0;
        background: #f1f1f1;
        transition: max-height 1.5s ease-in-out;
    }

    .dropdown:hover .dropdown-menu {
        max-height: 200vh;
    }

    .hamburger-menu {
        display: block;
    }
}