a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.p-2 {
    padding: 2rem;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto!important;
}

.btn {
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
}

.btn-filled {
    background: var(--white);
    color: var(--light-red);
}

.btn-outlined {
    background: transparent;
    border: 1px solid var(--white);
}

h3 {
    font-size: 2rem;
    font-family: 'Overpass', sans-serif;
}